header
{
 background-size: cover;
 height: 100%;
}
IMG.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
:root{
    --hauteur-menu: 60px;
  }
* {
    margin: 0px;
    padding: 0px;
    font-size: large;
    letter-spacing: 0.3pt;
    word-spacing: 1pt;
}
nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}
nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}
   
nav ul {
    list-style-type: none;
  }
  
nav > ul > li {
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
li a {
    text-decoration: none;
    color: darkgoldenrod;
}
  
.menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }
  nav > ul > li:hover > a{
    color: #ffffff;
  }
  .sous-menu > li:hover {
    background-color: darkgoldenrod;
  }
  
  .sous-menu > li:hover > a {
    color: white;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  } 
  body {
    background: rgb(0,0,0);
background: linear-gradient(65deg, rgba(0,0,0,1) 0%, rgba(223,124,15,1) 18%, rgba(253,130,26,1) 66%);
  }
  footer
  {
      text-align:center;
      bottom:0;
      width:100%;
      display:inline-block;
      font-size:18px;
      margin: 30px auto;
  }
.hdp {
  position: fixed;
  left: 87%;
  width: auto;
  bottom:0;
  font-size:18px;
}
.hdp a {
  background-color:black;
  padding: 10px 25px;
  color: darkgoldenrod;
  border-radius: 4px;
  list-style-type: none;
}
.hdp a:hover {
  background-color: darkgoldenrod;
  color:black;
}
footer a {
    background-color:black;
    padding: 10px 25px;
    color:darkgoldenrod;
    border-radius: 4px;
    list-style-type: none;
}
footer a:hover {
  background-color: darkgoldenrod;
  color:black;
}
.center {
  width: 960px;
  margin: 0 auto;
  padding-top: 25px;
}
h1 {
  margin-bottom: 15px;
  font-size: xx-large;
}
.s2 {
  width: 1100px;
  margin: 0 auto;
  padding-top: 25px;
}
div.Escorte {
  display: block;
  margin-left: 50px;
  margin-top: 25px;
}
h3 {
  position: center;
  text-decoration: underline;
  text-align: center;
  font-size: xxx-large;
  margin-top: 30px;
  margin-bottom: 30px;
}
h2 {
  display: block;
  margin-top: 35px;
  margin-bottom: 25px;
}
div.Hybride {
  display: block;
  margin-left: 50px;
  margin-top: 50px;
}
div.Controle {
  display: block;
  margin-left: 50px;
  margin-top: 50px;
}
div.Push {
  display: block;
  margin-left: 50px;
  margin-top: 50px;
}
.perso {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
figcaption {
  background-color:black;
  color: darkgoldenrod;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  border: darkgoldenrod;
  border-radius: 10px;
}
.center2 {
  width: 1350px;
  margin: 0 auto;
  padding-top: 25px;
}
.cartes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  position: center;
}
.center3 {
  width: 1150px;
  margin: 0 auto;
  padding-top: 25px;
}
.equipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  position: center;
}
.center4 {
  width: 1250px;
  margin: 0 auto;
  padding-top: 25px;
}
.evenement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  position: center;
}
h4 {
  margin-bottom: 15px;
  font-size: xx-large;
  margin-top: 25px;
}
.roles {
  margin-bottom: 15px;
  margin-top: 25px;
}
